<div class="reinsuranceBlock">
  <hr class="reinsuranceBlock__hr"/>
  <div class="reinsuranceBlock__h3">
    Pourquoi choisir La Maison Saint-Gobain pour vos travaux ?
  </div>
  <div class="reinsuranceBlock__container">
    <div class="reinsuranceItem">
      <div class="reinsuranceItem__iconContainer">
        <div class="reinsuranceItem__assistance">
          <i class="fa fa-bug"></i>
        </div>
      </div>
      <div class="reinsuranceItem__title">
        Conseil et support<span>&nbsp;<!-- -->à toutes les étapes du projet</span>
      </div>
      <p>
        Un conseiller client dédié vous accompagne tout au long de votre projet. Joignable 6/7 jours.
      </p>
    </div>
    <div class="reinsuranceItem">
      <div class="reinsuranceItem__iconContainer">
        <div class="reinsuranceItem__assistance">
          <i class="fa fa-cogs"></i>
        </div>
      </div>
      <div class="reinsuranceItem__title">
        Conseil et support<span>&nbsp;<!-- -->à toutes les étapes du projet</span>
      </div>
      <p>
        Un conseiller client dédié vous accompagne tout au long de votre projet. Joignable 6/7 jours.
      </p>
    </div>
    <div class="reinsuranceItem">
      <div class="reinsuranceItem__iconContainer">
        <div class="reinsuranceItem__assistance">
          <i class="fa fa-american-sign-language-interpreting"></i>
        </div>
      </div>
      <div class="reinsuranceItem__title">
        Conseil et support<span>&nbsp;<!-- -->à toutes les étapes du projet</span>
      </div>
      <p>
        Un conseiller client dédié vous accompagne tout au long de votre projet. Joignable 6/7 jours.
      </p>
    </div>
  </div>

  <div class="reinsuranceBlock__bouton">
    <button class="btn btn-radius">
      <i class="fa fa-braille"></i>
      J'ai un projet</button>
  </div>
</div>