<div class="ourAchievments-module">
  <div class="ourAchievments-module__image" style="background-image: url('https://prod-saint-gobain-fr.content.saint-gobain.io/sites/saint-gobain.fr/files/2020-07/une-salle-de-bain-familiale-design-00_1.jpg');">
    <div class="ourAchievments-module__container">
      <div class="showProject">
        <div>Voir le projet</div>
      </div>
      <ul>
        <button class="btn-radius">12 900 €</button>
        <button class="btn-radius">10 jours</button>
        <button class="btn-radius">12 m²</button>
      </ul>
    </div>
  </div>
  <h2 class="ourAchievments-module__title">
    Une salle de bain familiale
  </h2>
</div>