@use "@stephane888/wbu-atomique/scss/wbu-ressources.scss" as *;
@use "../variables.scss" as *;
.presentation-company {
  /**
 */
  .textcotebg {
    padding-bottom: 0;
    padding-top: $space_inner_top;
    .entete {
      background: transparent;
      padding-top: 0;
      padding-bottom: 0;
      .title {
        text-transform: unset;
        font-size: $wbu-default-font-size * 1.5;
        font-family: inherit;
      }
    }
  }
}
