<div class="single-service">
				<div class="img-wrapper">
					{{ content.img }}
				</div>
				<div class="service-txt">
					<h4 class="service-title">{{ content.title }}</h4>
					<p class="service-para">{{ content.smallbody }}</p>
					<div class="d-none">{{ content.link }}</div>
					<a href="#" class="readmore">Plus de details ...</a>
				</div>
			</div>