<div class="container">
<section class="custom-bloc-tab">
  <div class="d-flex justify-content-between tabs-block-title">
  	<div class="block-title">
    <h4 class="title">Dernières offres</h4>
  </div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Emplois chauds</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Emplois récents</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Emplois populaires</a>
    </li>
  </ul>
  </div>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">{{ page.content_block1 }}</div>
    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">{{ page.content_block2 }}</div>
    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">{{ page.content_block3 }}</div>
  </div>
</section>
</div>