@use "@stephane888/wbu-atomique/scss/wbu-ressources.scss" as *;
@use "./variables.scss" as *;

.space-margin {
  margin-bottom: $wbu-margin*2;
  @include media-min('DD') {
    margin-bottom: $wbu-margin*4;
  }
}

.space-padding {
  padding-top   : $wbu-margin*2;
  padding-bottom: $wbu-margin*1.5;
  @include media-min('DD') {
    padding-top   : $wbu-margin*4;
    padding-bottom: $wbu-margin*2.5;
  }
}