@use "@stephane888/wbu-atomique/scss/wbu-ressources.scss" as *;
@use "./variables.scss" as *;
@use "@stephane888/wbu-atomique/scss/organisme/sections/page-header-bg";
@use "@stephane888/wbu-atomique/scss/molecule/steph/header-blog";
@use "@stephane888/wbu-atomique/scss/molecule/stan/projectHero-module";
@use "@stephane888/wbu-atomique/scss/molecule/stan/ourAchievments-module";

.serviceBlock-module__serviceMessage {
  padding-bottom: 0;

  .serviceBlock-module__serviceTitle {
    margin-bottom: 3rem;
  }

  .paragraphList {
    margin-bottom: 2rem;
  }
}