@use "@stephane888/wbu-atomique/scss/wbu-ressources-clean.scss" as *;
@use "../variables.scss" as *;
$wbu-color-primary: #ffc211;
$wbu-color-link-hover: #fad873;
$wbu-h2-font-size: 3.4rem;
$wbu-color-link: $wbu-color-primary;
$wbu-title-color: #3d3c3c;
$space_bottom: $wbu-margin * 5;
$space_top: $wbu-margin * 4;
$space_inner_top: $space_top * 0.5;
