@use "@stephane888/wbu-atomique/scss/wbu-ressources-clean.scss" as *;
@use "../variables.scss";

.avis-theme-extra {
  //background-color: $wbu-color-primary;
  position: relative;
  &::before {
    content: "";
    background-color: rgba($color: $wbu-color-primary, $alpha: 0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
  }
  .swiper-unique {
    .swiper-slide {
      padding-top: calc(#{$space_top} + 45px);
      padding-bottom: $space_bottom;
    }
    .cover-text {
      margin-left: auto;
      margin-right: auto;
      max-width: 888px;
      padding: $wbu-margin;
      background-color: #fff;
      color: #333;
      @include media-min(M) {
        padding: $space_inner_top;
      }

      .cover-img {
        position: absolute;
        left: 0;
        right: 0;
        top: -45px;
      }
      .title {
        margin-top: $wbu-margin;
        color: $wbu-color-primary;
        font-weight: 600;
      }
      .description {
        margin-bottom: 0;
        font-size: $wbu-default-font-size * 1.2;
      }
    }
  }
}
