{#
	scss/molecule/stan/pushNewsletter.scss
#}
<div class="pushNewsletter">
    <div class="pushNewsletter__title">Abonnez-vous à notre newsletter</div>
    <div class="pushNewsletter__description">
        Recevez votre dose d’inspiration chaque semaine dans votre boîte mail.
    </div>
    <form class="pushNewsletter__form" novalidate="">
        <div class="Tooltip-module--wrapper">
            <div class="FormControl">
                <label class="FormLabel" data-shrink="false">Mon adresse email</label>
                <div class="InputBase">
                    <input type="text" aria-invalid="false" value="" class="input" />
                </div>
            </div>
        </div>
        <div role="button" data-disabled="true" class="pushNewsletter__button">
            Je m'abonne
        </div>
    </form>
    <div class="pushNewsletter__privacy">La Maison Saint-Gobain traite vos données pour vous envoyer ses newsletters. Consultez la rubrique "<a target="_blank" href="#">Vos données et vos droits</a>" pour en savoir plus.</div>
</div>