.block-title {
  position     : relative;
  display      : inline-block;
  font-size    : 18px;
  line-height  : 18px;
  margin-bottom: 30px;
  width        : 100%;
  font-weight  : 600;

  .title {
    margin: 0;
  }

  &::before {
    display      : inline-block;
    content      : "";
    border-bottom: 1px solid #e1e3e5;
    border-left  : 1px solid #e1e3e5;
    position     : absolute;
    width        : 100%;
    bottom       : -10px;
    left         : 0;
  }
}