<!--  about section start  -->
<div class="about-section about-bg">
	<div class="container container-xl">
		<div class="row">
			<div class="col-lg-3">
			</div>
			<div class="col-lg-8 offset-lg-1">
				<div class="comment-content">
					<span class="title">Articulé autour des :</span>
					<h2 class="subtitle">EXPOSITIONS, CONFERENCES, JOURNEES
						THEMATIQUES, B2B, RENCONTRES, DEBATS, ANIMATIONS DIVERSES</h2>
					<p class="comment">Ce Salon demeure une vitrine sectorielle
						unique en son genre dans toute la sous- région. Il rassemble, les
						Administrations, les décideurs, les Bailleurs de fonds, les
						professionnels et les acteurs majeurs de l’économie, venant
						d’Afrique et du monde pour croiser les idées pour les uns, exhiber
						leurs savoir-faire et les innovations pour les autres, de manière
						à améliorer ces secteurs « clé de voute du développement de
						l’économie de l’Afrique ».</p>					
				</div>
			</div>
		</div>
	</div>
	<div class="about-overlay"></div>
</div>
<!--  about section end  -->