<!--   faq section start    -->
<div class="faq-section">
	<div class="container container-xl">
		<div class="row">
			<div class="col-xl-6 col-lg-7">
				<div class="targets">
					<div class="box wow fadeInUp" data-wow-duration="1.5s">
						<div class="icon-wrapper">
							<i
								class="flaticon-external-link-square-with-an-arrow-in-right-diagonal"></i>
						</div>
						<div class="box-details">
							<h4>Our mission</h4>
							<p>We offers a host of logistic management services and
								supply chain solutions. consectetur adipiscing elit. Sed ut
								perspiciatis unde omnis iste natus error sit voluptatem
								accusantium doloremque laudantium</p>
						</div>
					</div>
					<div class="box wow fadeInUp" data-wow-duration="1.5s"
						data-wow-delay=".2s">
						<div class="icon-wrapper">
							<i class="flaticon-check"></i>
						</div>
						<div class="box-details">
							<h4>Our Vision</h4>
							<p>We offers a host of logistic management services and
								supply chain solutions. consectetur adipiscing elit. Sed ut
								perspiciatis unde omnis iste natus error sit voluptatem
								accusantium doloremque laudantium</p>
						</div>
					</div>
				</div>
			</div>
			<div class="offset-xl-1 col-xl-5 col-lg-5 faqs">
				<span class="title">FAQS</span>
				<h2 class="subtitle">FREQUENTLY ASKED QUESTIONS</h2>
				<div class="accordion" id="accordionExample">
					<div class="card wow fadeInUp" data-wow-duration="1s">
						<div class="card-header" id="headingOne">
							<h3 class="mb-0">
								<button class="btn btn-link collapsed btn-block text-left"
									type="button" data-toggle="collapse" data-target="#collapseOne"
									aria-expanded="false" aria-controls="collapseOne">Why
									choose this?</button>
							</h3>
						</div>
						<div id="collapseOne" class="collapse"
							aria-labelledby="headingOne" data-parent="#accordionExample">
							<div class="card-body">They offers a host of logistic
								management services and supply chain . We provide innovative
								solutions with the best. tempor incididunt ut labore et dolor
								empor tempor incididunt innovative solutions</div>
						</div>
					</div>
					<div class="card wow fadeInUp" data-wow-duration="1s"
						data-wow-delay=".2s">
						<div class="card-header" id="headingTwo">
							<h3 class="mb-0">
								<button class="btn btn-link collapsed btn-block text-left"
									type="button" data-toggle="collapse" data-target="#collapseTwo"
									aria-expanded="false" aria-controls="collapseTwo">Is
									it costly?</button>
							</h3>
						</div>
						<div id="collapseTwo" class="collapse"
							aria-labelledby="headingTwo" data-parent="#accordionExample">
							<div class="card-body">They offers a host of logistic
								management services and supply chain . We provide innovative
								solutions with the best. tempor incididunt ut labore et dolor
								empor tempor incididunt innovative solutions</div>
						</div>
					</div>
					<div class="card wow fadeInUp" data-wow-duration="1s"
						data-wow-delay=".4s">
						<div class="card-header" id="headingThree">
							<h3 class="mb-0">
								<button class="btn btn-link collapsed btn-block text-left"
									type="button" data-toggle="collapse"
									data-target="#collapseThree" aria-expanded="false"
									aria-controls="collapseThree">When usally product
									reach</button>
							</h3>
						</div>
						<div id="collapseThree" class="collapse"
							aria-labelledby="headingThree" data-parent="#accordionExample">
							<div class="card-body">They offers a host of logistic
								management services and supply chain . We provide innovative
								solutions with the best. tempor incididunt ut labore et dolor
								empor tempor incididunt innovative solutions</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--   faq section end    -->