<!--  service section start  -->
<div class="service-section">
	<div class="container container-xl">
		<span class="title">ATREX 2021</span>
		<h2 class="subtitle">Les grands axes</h2>
		{% if page.carrousel_grand_axes %}
						{{ page.carrousel_grand_axes }}
		{% endif %}
		{#
		<div class="service-carousel owl-carousel owl-theme" data-owlresponsive='{"items":3,"loop":true,"autoplay":true,"autoplayTimeout":4000,"autoplaySpeed":1000,"dots":false,"nav":true,"margin":30,"mouseDrag":true,"smartSpeed":1000,"responsive":{"0":{"items":1,"nav":false},"576":{"items":1,"nav":true},"768":{"items":2},"992":{"items":3}}}'>
			<div class="single-service">
				<div class="img-wrapper">
					<img src="assets/img/services/service_1.jpg" alt="">
				</div>
				<div class="service-txt">
					<h4 class="service-title">Air Freight</h4>
					<p class="service-para">We offers a host of logistic management
						services and supply chain solutions. consectetur adipiscing elit.</p>
					<a href="service-details.html" class="readmore">Read More</a>
				</div>
			</div>
			<div class="single-service">
				<div class="img-wrapper">
					<img src="assets/img/services/service_2.jpg" alt="">
				</div>
				<div class="service-txt">
					<h4 class="service-title">Road Freight</h4>
					<p class="service-para">We offers a host of logistic management
						services and supply chain solutions. consectetur adipiscing elit.</p>
					<a href="service-details.html" class="readmore">Read More</a>
				</div>
			</div>
			<div class="single-service">
				<div class="img-wrapper">
					<img src="assets/img/services/service_3.jpg" alt="">
				</div>
				<div class="service-txt">
					<h4 class="service-title">Ocean Freight</h4>
					<p class="service-para">We offers a host of logistic management
						services and supply chain solutions. consectetur adipiscing elit.</p>
					<a href="service-details.html" class="readmore">Read More</a>
				</div>
			</div>
			<div class="single-service">
				<div class="img-wrapper">
					<img src="assets/img/services/service_4.jpg" alt="">
				</div>
				<div class="service-txt">
					<h4 class="service-title">Warhousing</h4>
					<p class="service-para">We offers a host of logistic management
						services and supply chain solutions. consectetur adipiscing elit.</p>
					<a href="service-details.html" class="readmore">Read More</a>
				</div>
			</div>
		</div>
		#}
	</div>
</div>
<!--  service section end  -->