<!-- features section start -->
<div class="features-section">
	<div class="container container-lg">
		<div class="row feature-bg feature-content">
			<div class="col-lg-7 offset-lg-5 pr-0">
				<div class="features">
					<span class="title">Atrex 2021</span>
					<h2 class="subtitle">infos utiles</h2>
					<div class="feature-lists">
						<div class="single-feature wow fadeInUp" data-wow-duration="1s">
							<div class="icon-wrapper">
								<i class="flaticon-customer-service"></i>
							</div>
							<div class="feature-details">
								<h4>Lieu de l'evenement</h4>
								<p>Du 02 au 06 Novembre 2021 Au Palais Polyvalent des Sports de Yaoundé
								</p>
							</div>
						</div>
						<div class="single-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay=".2s">
							<div class="icon-wrapper">
								<i class="flaticon-email"></i>
							</div>
							<div class="feature-details">
								<h4>Telecharger</h4>
								<p>
									- La plaquete <br> 
									- <a href="/themes/custom/theme_reference_wbu/images/fiche-de-souscription-atrex.pdf" class="text-secondary"> <b> Les fiches de souscription </b> </a> <br> 
									- Plan de localisation
								</p>
							</div>
						</div>
						<div class="single-feature wow fadeInUp" data-wow-duration="1s" data-wow-delay=".4s">
							<div class="icon-wrapper">
								<i class="flaticon-worldwide"></i>
							</div>
							<div class="feature-details">
								<h4>ATREX 2021 : THEME</h4>
								<p>La modernisation des transports pour faire progresser la sous-région et l’Afrique.</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- features section end -->