<!--   footer section start    -->
<footer>
	<div class="container container-xl">
		<div class="top-footer">
			<div class="row">
				<div class="col-xl-8 col-lg-4">
					<div class="logo-wrapper">
						<a href="/" title="Accueil" rel="home"> <img
							src="/themes/custom/theme_reference_wbu/images/logo.png" alt="Accueil"
							class="img-fluid d-inline-block align-top logo"
							style="max-width: 200px;">
						</a>
					</div>
					<p>MT&PARTNERS, est une agence d’organisation d’évènements
						professionnels nationaux et Internationaux depuis 2011. Partant du
						SNTL (Salon National des Transports et de la Logistique) tenue en
						2013 à Yaoundé, les forts encouragements et soutiens
						Institutionnels et Administratifs, nous ont amené à ouvrir les
						frontières de ce Salon qui était au départ national. Il est devenu
						en 2015 pour sa 2e Edition : Le Salon International des Transports ... <br> <a href="/node/7"> >> </a></p>
				</div>
				<div class="offset-xl-1 col-xl-2 col-lg-2 d-none">
					<h4>Useful Links</h4>
					<ul class="userful-links">
						<li><a href="index.html">Home</a></li>
						<li><a href="about.html">About us</a></li>
						<li><a href="services.html">Service</a></li>
						<li><a href="blogs.html">Blog</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</div>
				<div class="col-xl-2 col-lg-2 d-none">
					<h4>Services</h4>
					<ul class="userful-links">
						<li><a href="index.html#">Air Freight</a></li>
						<li><a href="index.html#">OCEAN Freight</a></li>
						<li><a href="index.html#">WAREHOUSING</a></li>
						<li><a href="index.html#">STORAGE</a></li>
						<li><a href="index.html#">ROAD Freight</a></li>
					</ul>
				</div>
				<div class="offset-xl-1 col-xl-3 col-lg-4">
					<h4>Contactez nous</h4>
					<div class="footer-contact">
						<div class="contact-info">
							<div class="icon-wrapper">
								<i class="flaticon-placeholder"></i>
							</div>
							<p>BP 20703, Immeuble Tchuis-square Ngo ekele - Yaoundé</p>
						</div>
						<div class="contact-info">
							<div class="icon-wrapper">
								<i class="flaticon-call"></i>
							</div>
							<p>+237 75 55 55 19</p>
						</div>
						<div class="contact-info">
							<div class="icon-wrapper">
								<i class="flaticon-email"></i>
							</div>
							<p>supports@atrex-expo.com</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="bottom-footer">
			<p class="text-center">© Copyrights 2019 ATREX. All rights
				reserved.</p>
		</div>
	</div>
</footer>
<!--   footer section end    -->