<!-- header area start -->
<div class="header-area">
	<div class="info-bar">
		<div class="container container-xl">
			<div class="row">
				<div class="col-lg-4 col-8">
					<ul class="social-links">
						<li><a href="index.html#"> <i class="fab fa-facebook-f"></i>
						</a></li>
						<li><a href="index.html#"> <i class="fab fa-twitter"></i>
						</a></li>
						<li><a href="index.html#"> <i class="fab fa-linkedin-in"></i>
						</a></li>
						<li><a href="index.html#"> <i
								class="fab fa-google-plus-g"></i>
						</a></li>
					</ul>
				</div>
				<div class="col-lg-8 col-4">
					<div class="right-content">
						<span class="working-time">Heures d'ouverture: du lundi au samedi de 9 h à 17 h</span>
						<div class="language">
							<a href="#" class="dropdown-btn">FR <i
								class="flaticon-down-arrow"></i>
							</a>
							<ul class="language-dropdown">
								<li><a href="#">English</a></li>
								<li><a href="#">French</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="support-nav-area">
		<div class="container container-xl">
			<div class="row">
				<div class="col-lg-3 col-6">
					<div class="d-flex w-100 justify-content-center align-items-center h-100">
						<div class="logo-wrapper-inner">
							{#
								<a href="index.html"><img src="assets/img/logo.png" alt=""></a>
							#}
							{% if page.entete_logo %}
								{{ page.entete_logo }}
							{% endif %}
						</div>
					</div>
				</div>
				<div class="col-lg-9 col-6 position-lg-relative position-static">
					<div class="support-bar">
						<div class="row">
							<div class="d-flex justify-content-end w-100 flex-wrap">
								
									<div >
										<div class="support-info">
											<div class="left-content">
												<i class="flaticon-call"></i>
											</div>
											<div class="right-content">
												<div class="right-content-inner">
													<h5 class="d-none">Appellez nous</h5>
													<p>+237 75 55 55 19</p>
												</div>
											</div>
										</div>
									</div>
									<div class="mx-3 px-3">
										<div class="support-info">
											<div class="left-content">
												<i class="flaticon-email"></i>
											</div>
											<div class="right-content">
												<h5 class="d-none">Mail us</h5>
												<p>supports@atrex-expo.com</p>
											</div>
										</div>
									</div>
									<div >
										<a href="#id-quote-section" class="boxed-btn"> <span>Ecrivez nous !</span></a>
									</div>
								
							</div>
						</div>
					</div>
					<div class="navbar-area">
						<div class="row">
							<div class="col-lg-12 d-lg-block d-none">
								{% if page.entete_menu %}
									{{ page.entete_menu }}
								{% endif %}
								{#								
								<nav class="main-menu" id="mainMenu">
									<ul>
										<li class="dropdown active"><a href="index.html#">Home</a>
											<ul>
												<li class="active dropdown-submenus"><a
													href="index.html#">Static Versions <i
														class="fas fa-chevron-right"></i>
												</a>
													<ul>
														<li class="active"><a href="index.html">Home 1</a></li>
														<li><a href="index-2.html">Home 2</a></li>
														<li><a href="index-3.html">Home 3</a></li>
													</ul></li>
												<li class="dropdown-submenus"><a href="index.html#">Slider
														Versions <i class="fas fa-chevron-right"></i>
												</a>
													<ul>
														<li><a href="index-4.html">Home 4</a></li>
														<li><a href="index-5.html">Home 5</a></li>
														<li><a href="index-6.html">Home 6</a></li>
													</ul></li>
												<li class="dropdown-submenus"><a href="index.html#">Video
														Versions <i class="fas fa-chevron-right"></i>
												</a>
													<ul>
														<li><a href="index-7.html">Home 7</a></li>
														<li><a href="index-8.html">Home 8</a></li>
														<li><a href="index-9.html">Home 9</a></li>
													</ul></li>
												<li class="dropdown-submenus"><a href="index.html#">Parallax
														Versions <i class="fas fa-chevron-right"></i>
												</a>
													<ul>
														<li><a href="index-10.html">Home 10</a></li>
														<li><a href="index-11.html">Home 11</a></li>
														<li><a href="index-12.html">Home 12</a></li>
													</ul></li>
												<li class="dropdown-submenus"><a href="index.html#">Water
														Versions <i class="fas fa-chevron-right"></i>
												</a>
													<ul>
														<li><a href="index-13.html">Home 13</a></li>
														<li><a href="index-14.html">Home 14</a></li>
														<li><a href="index-15.html">Home 15</a></li>
													</ul></li>
											</ul></li>
										<li><a href="about.html">About Us</a></li>
										<li class="dropdown"><a href="index.html#">Services</a>
											<ul>
												<li><a href="services.html">Services</a></li>
												<li><a href="service-details.html">Service Details</a>
												</li>
											</ul></li>
										<li class="dropdown"><a href="index.html#">Blog</a>
											<ul>
												<li><a href="blogs.html">Blogs List</a></li>
												<li><a href="blog-grid.html">Blogs Grid</a></li>
												<li><a href="blog-grid-sidebar.html">Blogs Grid
														Sidebar</a></li>
												<li><a href="blog-details.html">Blog Details</a></li>
											</ul></li>
										<li class="dropdown"><a href="index.html#">Pages</a>
											<ul>
												<li><a href="category.html">Category</a></li>
												<li><a href="product-details.html">Product Details</a>
												</li>
												<li><a href="cart.html">Cart</a></li>
												<li><a href="checkout.html">Checkout</a></li>
												<li><a href="gallery.html">Gallery Grid</a></li>
												<li><a href="gallery-masonry.html">Gallery Masonry</a>
												</li>
												<li><a href="testimonial.html">Testimonial</a></li>
												<li><a href="faq.html">FAQ</a></li>
												<li><a href="quote.html">Quote</a></li>
												<li><a href="pricing.html">Pricing</a></li>
												<li><a href="404.html">404 Page</a></li>
											</ul></li>
										<li><a href="contact.html">Contact</a></li>
									</ul>
								</nav>
								{# #}
							</div>
							<div class="col-lg-3 col-12 position-lg-relative position-static d-none">
								<div id="mobileMenu"></div>
								<ul class="search-cart-area">
									<li class="search-icon"><a href="index.html#"> <i
											class="flaticon-search"></i>
									</a></li>
									<li class="shopping-icon"><a href="index.html#"> <i
											class="flaticon-shopping-cart-black-shape"></i>
									</a> <span class="count">0</span></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- header area end -->