<!-- hero area start -->
<div class="hero-area hero-bg">
	<div class="container container-xl">		
				<div class="hero-txt">
					<span class="wow fadeInDown 	 top" data-wow-duration="1.5s">ATREX</span>
					<h1 class="big-title wow fadeInUp" data-wow-duration="1.5s">
						<span class="d-block color-1">The internationnal Exhibition & Conference</span>
						<span class="d-block color-3">For african Transports & InFrastructures</span>
					</h1>
					<h2 class="small-title bottom">
						<span class="d-block color-2"> 02 - 06 novembre 2021</span>
						<span class="d-block">Yaoundé - cameroun</span>
					</h2>
					<a class="wow fadeInUp boxed-btn" data-wow-duration="1.5s" href="#">
						<span>Inscrivez vous</span></a>
				</div>		
	</div>
	<div class="hero-overlay"></div>
</div>
<!-- hero area end -->