<!--   news section start    -->
<div class="news-section">
	<div class="container container-xl">
		<span class="title">Dernieres infos</span>
	<h2 class="subtitle">L'actualite Atrex 2021</h2>
		<div class="row">
			<div class="col-lg-4 col-md-6">
				<div class="single-news wow fadeInRight" data-wow-duration="1.5s">
					<img src="assets/img/news-1.jpg" alt="">
					<div class="news-txt">
						<span class="date">November 05, 2018 - BY Admin</span> <a
							href="blog-details.html" class="title">
							<h3>Flexible shipping are increasing day by day gradually...</h3>
						</a> <a class="readmore" href="blog-details.html">Read More</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-news wow fadeInRight" data-wow-duration="1.5s"
					data-wow-delay=".2s">
					<img src="assets/img/news-2.jpg" alt="">
					<div class="news-txt">
						<span class="date">November 05, 2018 - BY Admin</span> <a
							href="blog-details.html" class="title">
							<h3>Big warehouse are most friendly for new shipping..</h3>
						</a> <a class="readmore" href="blog-details.html">Read More</a>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-6">
				<div class="single-news wow fadeInRight" data-wow-duration="1.5s"
					data-wow-delay=".4s">
					<img src="assets/img/news-3.jpg" alt="">
					<div class="news-txt">
						<span class="date">November 05, 2018 - BY Admin</span> <a
							href="blog-details.html" class="title">
							<h3>Keep your product in storage for long time...</h3>
						</a> <a class="readmore" href="blog-details.html">Read More</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--   news section end    -->