<!--   partner section start    -->
<div class="partner-section">
	<div class="container container-xl">
		<div class="row">
			<div class="col-md-12">
				<div
					class="partner-carousel owl-carousel owl-theme border-bottom border-top-lg-0 border-top"
					data-owlresponsive='{"items":5,"nav":false,"dots":true}'>
					<div class="single-partner-item">
						<div class="outer">
							<div class="inner">
								<img src="/themes/custom/theme_reference_wbu/images/logos-partenaires/CAMTEL.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="single-partner-item">
						<div class="outer">
							<div class="inner">
								<img src="/themes/custom/theme_reference_wbu/images/logos-partenaires/CAM-TRIBUNE.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="single-partner-item">
						<div class="outer">
							<div class="inner">
								<img src="/themes/custom/theme_reference_wbu/images/logos-partenaires/CEMAC.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="single-partner-item">
						<div class="outer">
							<div class="inner">
								<img src="/themes/custom/theme_reference_wbu/images/logos-partenaires/DANGOTE-CEMENT.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="single-partner-item">
						<div class="outer">
							<div class="inner">
								<img src="/themes/custom/theme_reference_wbu/images/logos-partenaires/FNE.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="single-partner-item">
						<div class="outer">
							<div class="inner">
								<img src="/themes/custom/theme_reference_wbu/images/logos-partenaires/IRAD.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="single-partner-item">
						<div class="outer">
							<div class="inner">
								<img src="/themes/custom/theme_reference_wbu/images/logos-partenaires/LOGO-PARTENAIRES.jpg" alt="">
							</div>
						</div>
					</div>
					<div class="single-partner-item">
						<div class="outer">
							<div class="inner">
								<img src="/themes/custom/theme_reference_wbu/images/logos-partenaires/MINCOMMERCE.jpg" alt="">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--   partner section end    -->