<!--  Testimonial section start  -->
<div class="testimonial-section" id="id-testimonial-section">
	<div class="container container-xl">
		<div class="testimonial-container">
			<div class="row">
				<div class="col-lg-5">
					<div class="testimonial">
						<span class="title">EXPOSITIONS</span>
						<h2 class="subtitle">EXPOSITIONS</h2>
						<div class="testimonial-carousel">
							<div class="single-testimonial">
								<p>Les expositions sont organisées dans les stands de
									dimensions variées : <strong>100 m2, 50m2, 25m2, 9m2</strong> Sur une
									superficie de plus de <strong>9000 m2</strong>, dans des stands standards ou
									personnalisés.</p>
								<h5>ATREX 2021</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-7">
					<div class="free-space"></div>
				</div>
			</div>
			<div class="quote-icon">
				<i class="flaticon-quote-left"></i>
			</div>
		</div>
	</div>
</div>
<!--  Testimonial section end  -->