<div class="testimonies-module--wrapper--3j0IK">
	<h2 class="testimonies-module--title--3I1Yi">Des clients
		satisfaits</h2>
	<div class="slick-slider slick-initialized" dir="ltr">
		<div
			class="slick-arrow slick-prev testimonies-module--arrow--1lySw testimonies-module--previous--2k27j"
			style="display: block">
			<div class="testimonies-module--buttonWrapper--2HxK_">
				<div class="testimonies-module--iconWrapper--RHtI7">
					<svg
						class="testimonies-module--previousIcon--3T9Wr testimonies-module--icon--2UYsu"
						viewBox="0 0 12 12">
						<path fill-rule="evenodd"
							d="M10.423 8.764a.811.811 0 01-1.145 0l-3.153-3.14-3.153 3.14a.811.811 0 11-1.145-1.15l4.298-4.28 4.298 4.28a.811.811 0 010 1.15z"
							clip-rule="evenodd"></path></svg>
				</div>
			</div>
		</div>
		<div class="slick-list">
			<div class="slick-track"
				style="width: 13992px; opacity: 1; transform: translate3d(-2544px, 0px, 0px);">
				<div data-index="-1" tabindex="-1" class="slick-slide slick-cloned"
					aria-hidden="true" style="width: 1272px;">
					<div>
						<div class="testimonies-module--testimony--2u0Tw">
							<div class="testimonies-module--testimony__text--2xxKo">
								«
								<!-- -->
								J’ai fait une demande de mise en relation et cela a été très
								rapide, le conseiller a été très actif et j’ai pu comparer 3
								devis pour mes travaux
								<!-- -->
								»
							</div>
							<div class="testimonies-module--testimony__name--3XxqR">Aude
								P.</div>
							<div class="testimonies-module--testimony__city--2Fbbu">Montpellier</div>
							<span class="MuiRating-root MuiRating-readOnly" role="img"
								aria-label="4 Stars"><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconEmpty"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span></span>
						</div>
					</div>
				</div>
				<div data-index="0" class="slick-slide" tabindex="-1"
					aria-hidden="true" style="outline: none; width: 1272px;">
					<div>
						<div class="testimonies-module--testimony--2u0Tw">
							<div class="testimonies-module--testimony__text--2xxKo">
								«
								<!-- -->
								J’ai été mise en contact avec des artisans pour la rénovation de
								notre salle de bain et ça s’est très bien passé. Je recommande
								pour l’efficacité et la valeur des artisans.
								<!-- -->
								»
							</div>
							<div class="testimonies-module--testimony__name--3XxqR">Elisabeth
								J.</div>
							<div class="testimonies-module--testimony__city--2Fbbu">Nantes</div>
							<span class="MuiRating-root MuiRating-readOnly" role="img"
								aria-label="5 Stars"><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span></span>
						</div>
					</div>
				</div>
				<div data-index="1" class="slick-slide slick-active slick-current"
					tabindex="-1" aria-hidden="false"
					style="outline: none; width: 1272px;">
					<div>
						<div class="testimonies-module--testimony--2u0Tw">
							<div class="testimonies-module--testimony__text--2xxKo">
								«
								<!-- -->
								Très bonne procédure de mise en relation, reformulation précise
								de mon besoin avec un conseiller. L’artisan répond très bien à
								mes attentes.
								<!-- -->
								»
							</div>
							<div class="testimonies-module--testimony__name--3XxqR">Fabienne
								B.</div>
							<div class="testimonies-module--testimony__city--2Fbbu">Orléans</div>
							<span class="MuiRating-root MuiRating-readOnly" role="img"
								aria-label="5 Stars"><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span></span>
						</div>
					</div>
				</div>
				<div data-index="2" class="slick-slide" tabindex="-1"
					aria-hidden="true" style="outline: none; width: 1272px;">
					<div>
						<div class="testimonies-module--testimony--2u0Tw">
							<div class="testimonies-module--testimony__text--2xxKo">
								«
								<!-- -->
								J’ai trouvé 2 entreprises très correctes grâce à ce service très
								pratique, je le recommande à tout le monde.
								<!-- -->
								»
							</div>
							<div class="testimonies-module--testimony__name--3XxqR">Catherine
								C.</div>
							<div class="testimonies-module--testimony__city--2Fbbu">Marseille</div>
							<span class="MuiRating-root MuiRating-readOnly" role="img"
								aria-label="5 Stars"><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span></span>
						</div>
					</div>
				</div>
				<div data-index="3" class="slick-slide" tabindex="-1"
					aria-hidden="true" style="outline: none; width: 1272px;">
					<div>
						<div class="testimonies-module--testimony--2u0Tw">
							<div class="testimonies-module--testimony__text--2xxKo">
								«
								<!-- -->
								Très bonnes relations avec les entreprises pour mon projet.
								<!-- -->
								»
							</div>
							<div class="testimonies-module--testimony__name--3XxqR">Joachim
								G.</div>
							<div class="testimonies-module--testimony__city--2Fbbu">Bordeaux</div>
							<span class="MuiRating-root MuiRating-readOnly" role="img"
								aria-label="4 Stars"><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconEmpty"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span></span>
						</div>
					</div>
				</div>
				<div data-index="4" class="slick-slide" tabindex="-1"
					aria-hidden="true" style="outline: none; width: 1272px;">
					<div>
						<div class="testimonies-module--testimony--2u0Tw">
							<div class="testimonies-module--testimony__text--2xxKo">
								«
								<!-- -->
								J’ai fait une demande de mise en relation et cela a été très
								rapide, le conseiller a été très actif et j’ai pu comparer 3
								devis pour mes travaux
								<!-- -->
								»
							</div>
							<div class="testimonies-module--testimony__name--3XxqR">Aude
								P.</div>
							<div class="testimonies-module--testimony__city--2Fbbu">Montpellier</div>
							<span class="MuiRating-root MuiRating-readOnly" role="img"
								aria-label="4 Stars"><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconEmpty"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span></span>
						</div>
					</div>
				</div>
				<div data-index="5" tabindex="-1" class="slick-slide slick-cloned"
					aria-hidden="true" style="width: 1272px;">
					<div>
						<div class="testimonies-module--testimony--2u0Tw">
							<div class="testimonies-module--testimony__text--2xxKo">
								«
								<!-- -->
								J’ai été mise en contact avec des artisans pour la rénovation de
								notre salle de bain et ça s’est très bien passé. Je recommande
								pour l’efficacité et la valeur des artisans.
								<!-- -->
								»
							</div>
							<div class="testimonies-module--testimony__name--3XxqR">Elisabeth
								J.</div>
							<div class="testimonies-module--testimony__city--2Fbbu">Nantes</div>
							<span class="MuiRating-root MuiRating-readOnly" role="img"
								aria-label="5 Stars"><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span></span>
						</div>
					</div>
				</div>
				<div data-index="6" tabindex="-1" class="slick-slide slick-cloned"
					aria-hidden="true" style="width: 1272px;">
					<div>
						<div class="testimonies-module--testimony--2u0Tw">
							<div class="testimonies-module--testimony__text--2xxKo">
								«
								<!-- -->
								Très bonne procédure de mise en relation, reformulation précise
								de mon besoin avec un conseiller. L’artisan répond très bien à
								mes attentes.
								<!-- -->
								»
							</div>
							<div class="testimonies-module--testimony__name--3XxqR">Fabienne
								B.</div>
							<div class="testimonies-module--testimony__city--2Fbbu">Orléans</div>
							<span class="MuiRating-root MuiRating-readOnly" role="img"
								aria-label="5 Stars"><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span></span>
						</div>
					</div>
				</div>
				<div data-index="7" tabindex="-1" class="slick-slide slick-cloned"
					aria-hidden="true" style="width: 1272px;">
					<div>
						<div class="testimonies-module--testimony--2u0Tw">
							<div class="testimonies-module--testimony__text--2xxKo">
								«
								<!-- -->
								J’ai trouvé 2 entreprises très correctes grâce à ce service très
								pratique, je le recommande à tout le monde.
								<!-- -->
								»
							</div>
							<div class="testimonies-module--testimony__name--3XxqR">Catherine
								C.</div>
							<div class="testimonies-module--testimony__city--2Fbbu">Marseille</div>
							<span class="MuiRating-root MuiRating-readOnly" role="img"
								aria-label="5 Stars"><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span></span>
						</div>
					</div>
				</div>
				<div data-index="8" tabindex="-1" class="slick-slide slick-cloned"
					aria-hidden="true" style="width: 1272px;">
					<div>
						<div class="testimonies-module--testimony--2u0Tw">
							<div class="testimonies-module--testimony__text--2xxKo">
								«
								<!-- -->
								Très bonnes relations avec les entreprises pour mon projet.
								<!-- -->
								»
							</div>
							<div class="testimonies-module--testimony__name--3XxqR">Joachim
								G.</div>
							<div class="testimonies-module--testimony__city--2Fbbu">Bordeaux</div>
							<span class="MuiRating-root MuiRating-readOnly" role="img"
								aria-label="4 Stars"><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconEmpty"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span></span>
						</div>
					</div>
				</div>
				<div data-index="9" tabindex="-1" class="slick-slide slick-cloned"
					aria-hidden="true" style="width: 1272px;">
					<div>
						<div class="testimonies-module--testimony--2u0Tw">
							<div class="testimonies-module--testimony__text--2xxKo">
								«
								<!-- -->
								J’ai fait une demande de mise en relation et cela a été très
								rapide, le conseiller a été très actif et j’ai pu comparer 3
								devis pour mes travaux
								<!-- -->
								»
							</div>
							<div class="testimonies-module--testimony__name--3XxqR">Aude
								P.</div>
							<div class="testimonies-module--testimony__city--2Fbbu">Montpellier</div>
							<span class="MuiRating-root MuiRating-readOnly" role="img"
								aria-label="4 Stars"><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconFilled jss7"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span><span><span
									class="MuiRating-icon MuiRating-iconEmpty"><svg
											class="MuiSvgIcon-root MuiSvgIcon-fontSizeInherit"
											focusable="false" viewBox="0 0 24 24" aria-hidden="true">
											<path
												d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"></path></svg></span></span></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div
			class="slick-arrow slick-next testimonies-module--arrow--1lySw testimonies-module--next--19O1B"
			style="display: block">
			<div class="testimonies-module--buttonWrapper--2HxK_">
				<div class="testimonies-module--iconWrapper--RHtI7">
					<svg
						class="testimonies-module--nextIcon--8QsYS testimonies-module--icon--2UYsu"
						viewBox="0 0 12 12">
						<path fill-rule="evenodd"
							d="M10.423 8.764a.811.811 0 01-1.145 0l-3.153-3.14-3.153 3.14a.811.811 0 11-1.145-1.15l4.298-4.28 4.298 4.28a.811.811 0 010 1.15z"
							clip-rule="evenodd"></path></svg>
				</div>
			</div>
		</div>
	</div>
</div>