{% if page.top_header %}
    {{ page.top_header }}
{% endif %}

{% if page.content %}
    <div class="page page-orther-custom">
         <div{{ page.content.attributes }}>  {{ page.content|without('attributes', 'wrapper_attribute', 'entete') }}</div>
    </div>
{% endif %}
