<section class="clearfix job-bg user-page">
	<div class="container text-center">
		<div class="user-account-content">
			<div class="user-account job-user-account">
				<h2>{{ page['#title'] }}</h2>

				{{ page.content|without('attributes', 'wrapper_attribute') }}

				<div class="user-option">
					<div class="pull-right forgot-password">
						<a href="/user/login">Connectez vous</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>