
<div class="container py-5">
	<div class="row justify-content-center">
		
		<div class="col-md-4">			
			<div class="card-group flex-row d-flex">
				<div class="d-flex justify-content-center w-100 py-3">
					<a href="/" title="Home" rel="home" class="logo "> <img src="/themes/custom/gater/logo.png?v=1" alt="Home" style="height:80px">
				</a>
				</div>
				<div class="card p-4">
					<div class="card-body">
						<h1>
							{{ page['#title'] }}
						</h1>
						<p class="text-muted">Connectez vous à votre compte</p>
						{{ page.content | without('attributes') }}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
