{#
<div id="block-homepageslider" class="banner-container revolution">
	<div id="md-slider-4-block" class="md-slide-items"
		style="min-height: 650px">
		<div class="md-slide-item md-layer-4-20" data-timeout="8000"
			data-transition="fade"
			data-thumb="http://gates.drupalet.com/sites/default/files/styles/thumbnail/public/md-slider-image/slider-bg1_0.jpg?itok=SVbprvK9"
			data-thumb-type="image" data-thumb-alt="">
			<div class="md-main-img" style="">
				<img
					src="/sites/default/files/styles/image1349x650/public/md-slider-image/slider-bg1_0.jpg%3Fitok=dxK-1Uwr"
					alt="image title" />
			</div>
			<div class="md-objects">
				<div class="md-object md-layer-4-20-0 tp-caption upper" data-x="130"
					data-y="166" data-width="525" data-height="232" data-start="400"
					data-stop="8000" data-easein="fadeInRight"
					data-easeout="fadeOutLeft"></div>
				<div class="md-object md-layer-4-20-1" data-x="167" data-y="200"
					data-width="205" data-height="37" data-start="400" data-stop="8000"
					data-easein="fadeInRight" data-easeout="fadeOutLeft">WE BUILD
					YOUR</div>
				<div class="md-object md-layer-4-20-2" data-x="166" data-y="241"
					data-width="229" data-height="50" data-start="400" data-stop="8000"
					data-easein="fadeInRight" data-easeout="fadeOutLeft">DREAM</div>
				<div class="md-object md-layer-4-20-3" data-x="401" data-y="240"
					data-width="222" data-height="49" data-start="400" data-stop="8000"
					data-easein="fadeInRight" data-easeout="fadeOutLeft">HOUSE</div>
				<div class="md-object md-layer-4-20-4" data-x="168" data-y="305"
					data-width="487" data-height="25" data-start="400" data-stop="8000"
					data-easein="fadeInRight" data-easeout="fadeOutLeft">It is
					not the beauty of a building you should look at;</div>
				<div class="md-object md-layer-4-20-5" data-x="169" data-y="326"
					data-width="343" data-height="26" data-start="400" data-stop="8000"
					data-easein="fadeInRight" data-easeout="fadeOutLeft">its the
					construction that will stand.</div>
				<div class="md-object md-layer-4-20-6" data-x="135" data-y="427"
					data-width="134" data-height="10" data-start="800" data-stop="8000"
					data-easein="fadeInRight" data-easeout="fadeOutLeft"
					data-paddingtop="20" data-paddingright="20" data-paddingbottom="20"
					data-paddingleft="20">
					<a href="index.html#"> PURCHASE NOW </a>
				</div>
			</div>
		</div>
		<div class="md-slide-item md-layer-4-21" data-timeout="8000"
			data-transition="fade"
			data-thumb="http://gates.drupalet.com/sites/default/files/styles/thumbnail/public/md-slider-image/slider-bg2.jpg?itok=b5AKh83Q"
			data-thumb-type="image" data-thumb-alt="">
			<div class="md-main-img" style="">
				<img
					src="/sites/default/files/styles/image1349x650/public/md-slider-image/slider-bg2.jpg%3Fitok=LLi_E-Ya"
					alt="image title" />
			</div>
			<div class="md-objects">
				<div class="md-object md-layer-4-21-0 tp-caption upper" data-x="130"
					data-y="166" data-width="660" data-height="232" data-start="400"
					data-stop="8000" data-easein="fadeInRight"
					data-easeout="fadeOutLeft"></div>
				<div class="md-object md-layer-4-21-1" data-x="167" data-y="200"
					data-width="205" data-height="37" data-start="400" data-stop="8000"
					data-easein="fadeInRight" data-easeout="fadeOutLeft">WE MAKE</div>
				<div class="md-object md-layer-4-21-2" data-x="163" data-y="235"
					data-width="252" data-height="50" data-start="400" data-stop="8000"
					data-easein="fadeInRight" data-easeout="fadeOutLeft">CREATE</div>
				<div class="md-object md-layer-4-21-3" data-x="427" data-y="235"
					data-width="317" data-height="55" data-start="400" data-stop="8000"
					data-easein="fadeInRight" data-easeout="fadeOutLeft">PROJECTS</div>
				<div class="md-object md-layer-4-21-4" data-x="168" data-y="305"
					data-width="487" data-height="25" data-start="400" data-stop="8000"
					data-easein="fadeInRight" data-easeout="fadeOutLeft">It is
					not the beauty of a building you should look at;</div>
				<div class="md-object md-layer-4-21-5" data-x="169" data-y="326"
					data-width="343" data-height="26" data-start="400" data-stop="8000"
					data-easein="fadeInRight" data-easeout="fadeOutLeft">its the
					construction that will stand.</div>
				<div class="md-object md-layer-4-21-6" data-x="135" data-y="427"
					data-width="134" data-height="10" data-start="800" data-stop="8000"
					data-easein="fadeInRight" data-easeout="fadeOutLeft"
					data-paddingtop="20" data-paddingright="20" data-paddingbottom="20"
					data-paddingleft="20">PURCHASE NOW</div>
			</div>
		</div>
		<div class="md-slide-item md-layer-4-22" data-timeout="8000"
			data-transition="fade"
			data-thumb="http://gates.drupalet.com/sites/default/files/styles/thumbnail/public/md-slider-image/slider-bg3.jpg?itok=cpvb-JwB"
			data-thumb-type="image" data-thumb-alt="">
			<div class="md-main-img" style="">
				<img
					src="/sites/default/files/styles/image1349x650/public/md-slider-image/slider-bg3.jpg%3Fitok=ZQxkSQnd"
					alt="image title" />
			</div>
			<div class="md-objects">
				<div class="md-object md-layer-4-22-0 tp-caption upper" data-x="130"
					data-y="166" data-width="768" data-height="232" data-start="400"
					data-stop="8000" data-easein="fadeInRight"
					data-easeout="fadeOutLeft"></div>
				<div class="md-object md-layer-4-22-1" data-x="167" data-y="200"
					data-width="205" data-height="37" data-start="400" data-stop="8000"
					data-easein="fadeInRight" data-easeout="fadeOutLeft">WE OFFER</div>
				<div class="md-object md-layer-4-22-2" data-x="163" data-y="235"
					data-width="252" data-height="50" data-start="400" data-stop="8000"
					data-easein="fadeInRight" data-easeout="fadeOutLeft">CLIENT</div>
				<div class="md-object md-layer-4-22-3" data-x="405" data-y="236"
					data-width="461" data-height="55" data-start="400" data-stop="8000"
					data-easein="fadeInRight" data-easeout="fadeOutLeft">SATISFACTION</div>
				<div class="md-object md-layer-4-22-4" data-x="168" data-y="305"
					data-width="487" data-height="25" data-start="400" data-stop="8000"
					data-easein="fadeInRight" data-easeout="fadeOutLeft">It is
					not the beauty of a building you should look at;</div>
				<div class="md-object md-layer-4-22-5" data-x="169" data-y="326"
					data-width="343" data-height="26" data-start="400" data-stop="8000"
					data-easein="fadeInRight" data-easeout="fadeOutLeft">its the
					construction that will stand.</div>
				<div class="md-object md-layer-4-22-6" data-x="135" data-y="427"
					data-width="134" data-height="10" data-start="800" data-stop="8000"
					data-easein="fadeInRight" data-easeout="fadeOutLeft"
					data-paddingtop="20" data-paddingright="20" data-paddingbottom="20"
					data-paddingleft="20">PURCHASE NOW</div>
			</div>
		</div>
		<div class="md-slide-item md-layer-4-23" data-timeout="8000"
			data-transition="fade"
			data-thumb="http://gates.drupalet.com/sites/default/files/styles/thumbnail/public/md-slider-image/slider-bg4_0.jpg?itok=lWk3iZWV"
			data-thumb-type="image" data-thumb-alt="">
			<div class="md-main-img" style="">
				<img
					src="/sites/default/files/styles/image1349x650/public/md-slider-image/slider-bg4_0.jpg%3Fitok=40QMQhmA"
					alt="image title" />
			</div>
			<div class="md-objects">
				<div class="md-object md-layer-4-23-0 tp-caption upper" data-x="130"
					data-y="166" data-width="895" data-height="232" data-start="400"
					data-stop="8000" data-easein="fadeInRight"
					data-easeout="fadeOutLeft"></div>
				<div class="md-object md-layer-4-23-1" data-x="167" data-y="200"
					data-width="205" data-height="37" data-start="400" data-stop="8000"
					data-easein="fadeInRight" data-easeout="fadeOutLeft">WE DRIVE</div>
				<div class="md-object md-layer-4-23-2" data-x="166" data-y="241"
					data-width="229" data-height="50" data-start="400" data-stop="8000"
					data-easein="fadeInRight" data-easeout="fadeOutLeft">INNOVATION</div>
				<div class="md-object md-layer-4-23-3" data-x="577" data-y="244"
					data-width="222" data-height="50" data-start="400" data-stop="8000"
					data-easein="fadeInRight" data-easeout="fadeOutLeft">ABSOLUTELY</div>
				<div class="md-object md-layer-4-23-4" data-x="168" data-y="305"
					data-width="487" data-height="25" data-start="400" data-stop="8000"
					data-easein="fadeInRight" data-easeout="fadeOutLeft">It is
					not the beauty of a building you should look at;</div>
				<div class="md-object md-layer-4-23-5" data-x="169" data-y="326"
					data-width="343" data-height="26" data-start="400" data-stop="8000"
					data-easein="fadeInRight" data-easeout="fadeOutLeft">its the
					construction that will stand.</div>
				<div class="md-object md-layer-4-23-6" data-x="135" data-y="427"
					data-width="134" data-height="10" data-start="800" data-stop="8000"
					data-easein="fadeInRight" data-easeout="fadeOutLeft"
					data-paddingtop="20" data-paddingright="20" data-paddingbottom="20"
					data-paddingleft="20">PURCHASE NOW</div>
			</div>
		</div>
	</div>
</div>
<script type="application/json"
		data-drupal-selector="drupal-settings-json">{"path":{"baseUrl":"\/","scriptPath":null,"pathPrefix":"","currentPath":"node","currentPathIsAdmin":false,"isFront":true,"currentLanguage":"en"},"pluralDelimiter":"\u0003","ajaxTrustedUrl":{"form_action_cc611e1d":true,"\/search\/node":true},"md_slider":{"4":{"full_width":1,"width":"1340","height":"650","touch_swipe":1,"responsive":true,"videobox":0,"loop":true,"loadingbar":0,"bar_position":"bottom","show_next_prev_button":0,"auto_play":1,"pause_hover":0,"show_bullet":1,"bullet_position":"2","show_thumbnail":0,"thumbnail_position":"1","border_style":"0","dropshadow_style":0,"animation":"fade","delay":"8000","transtime":"800","thumb_style":"thumbnail","create_bg_imgstyle":1,"bg_style":"image1349x650","dmf_google":"https:\/\/fonts.googleapis.com\/css?family=Montserrat:100,300,400,600,700,800,900","on_start":"","on_end":"","color_saved":"ff9900,CC0000","fullWidth":true,"transitionsSpeed":800,"enableDrag":true,"pauseOnHover":false,"autoPlay":true,"enableLoadingBar":false,"loadingBarPosition":"bottom","enableNextPrevButton":false,"enableBullet":true,"bulletPosition":"2","enableThumbnail":false,"thumbnailPosition":"1","slideShowDelay":"8000","OnTransitionStart":"","OnTransitionEnd":"","styleShadow":0}},"inEffects":["bounceIn","bounceInDown","bounceInUp","bounceInLeft","bounceInRight","fadeIn","fadeInUp","fadeInDown","fadeInLeft","fadeInRight","fadeInUpBig","fadeInDownBig","fadeInLeftBig","fadeInRightBig","flipInX","flipInY","foolishIn","lightSpeedIn","puffIn","rollIn","rotateIn","rotateInDownLeft","rotateInDownRight","rotateInUpLeft","rotateInUpRight","twisterInDown","twisterInUp","swap","swashIn","tinRightIn","tinLeftIn","tinUpIn","tinDownIn","vanishIn","shuffleLetter"],"outEffects":["bombRightOut","bombLeftOut","bounceOut","bounceOutDown","bounceOutUp","bounceOutLeft","bounceOutRight","fadeOut","fadeOutUp","fadeOutDown","fadeOutLeft","fadeOutRight","fadeOutUpBig","fadeOutDownBig","fadeOutLeftBig","fadeOutRightBig","flipOutX","flipOutY","foolishOut","hinge","holeOut","lightSpeedOut","puffOut","rollOut","rotateOut","rotateOutDownLeft","rotateOutDownRight","rotateOutUpLeft","rotateOutUpRight","rotateDown","rotateUp","rotateLeft","rotateRight","swashOut","tinRightOut","tinLeftOut","tinUpOut","tinDownOut","vanishOut"],"user":{"uid":0,"permissionsHash":"a7c28fea9314315ad985f1cb2b30ca0f61fc596e0af68608bac3b5fed1f27b2b"}}</script>
	
	#}