<section class="views-element-container"
	id="block-views-block-gater-block-content-block-services-2">

	<div>
		<div class="container container-pad-b0">
			<div class="row">
				<div class="col-md-6">
					<h1 class="t-pad10">NOS SERVICES</h1>
					<h3 class="b-pad60">Un devis travaux en ligne dès que vous en
						avez besoin...</h3>
					
					<div class="owl-carousel owl-theme"
						data-owlresponsive='{"items":1,"nav":false,"dots":true,"loop":true,"autoplay":true}'>
						<div class="item">
							<div class="services-box-2 left ">
								<i class="icon-picons-configuration d-none d-block-sm"></i>
								<div class="content">
									<h3>Rénovation de cuisine</h3>
									<p>En partenariat avec HOWDENS cuisines, LESROISDELARENO
										vous accompagne pour conceptualiser et réaliser une cuisine
										unique. LESROISDELARENO s’occupe de tout de la conception à la
										réalisation de votre cuisine :</p>

									<ul>
										<li>Les travaux de préparation plomberie, électricité…</li>
										<li>La pose de la cuisine et de l’électroménager</li>
										<li>Les travaux de finitions faïence, carrelage au sol,
											coffrage BA13, enduits, peinture…</li>
									</ul>

									<p>
										<span style="color: #e74c3c;"><span
											style="font-size: 18px;"><strong>Tous les
													produits sont en stock pour un démarrage rapide du
													chantier. Vous êtes assuré d’avoir la cuisine que vous
													voulez quand vous le voulez.</strong></span></span>
									</p>

									<p>
										<strong>Les cuisines sont garanties 25 ans
											(caissons). Vous disposez également d’une garantie de 5 ans
											sur toutes les façades.</strong>
									</p>
									<a class="btn" href="/node/15">Cuisine haut de gamme</a>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="services-box-2 left">
								<i class="icon-picons-hammer  d-none d-block-sm"></i>
								<div class="content">
									<h3>Peinture</h3>
									<p>LESROISDELARENO Est spécialisée dans la réalisation de
										travaux de peinture et décoration intérieur, nous vous
										accompagnons et conseillons tout au long de votre projet, de
										sa mise en place jusqu’aux finitions.</p>

									<ul>
										<li>Travaux de peinture</li>
										<li>Décoration intérieur</li>
									</ul>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="services-box-2 left">
								<i class="icon-picons-configuration-2 d-none d-block-sm"></i>
								<div class="content">
									<h3>Rénovation de sol</h3>
									<p>
										L’ambiance d’une pièce passe également par le revêtement du
										sol. Le sol représente une surface immense qui harmonisera
										votre intérieur avec le reste de la décoration de votre
										logement.<br /> Lors de travaux de rénovation, nous vous
										proposerons un multiple choix de produits pour agrémenter
										votre sol : sol pvc, parquet flottant, moquette ou dallage.<br />
										Nos professionnels vous aident à choisir le type de sol qui
										vous convient. Ils vous apportent leur savoir-faire dans la
										pose de carrelage, de faïence, de parquet, de moquette et de
										linoléum.
									</p>
								</div>
							</div>
						</div>						
						<div class="item">
							<div class="services-box-2 left">
								<i class="icon-picons-tools d-none d-block-sm"></i>
								<div class="content">
									<h3>Menuiserie</h3>
									<p>Nos menuisiers conçoivent et réalisent toutes vos
										demandes sur mesure :
									<ul>
										<li>&nbsp;Dressing, Placard, Bibliothèque</li>
										<li>&nbsp;Pose de parquet massif, flottant ou stratifié</li>
										<li>&nbsp;Pose de fenêtres, portes et volets</li>
									</ul>

									</p>


								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-xs-offset-1 t-pad60">
					<img src="/themes/custom/gater/images/content/img-con-hom.png"
						alt="image title">
				</div>
			</div>
		</div>
	</div>
</section>