<section class="views-element-container bg-white"
	id="block-views-block-gater-block-content-block-features">
	<div>
		<div
			class="row ">
			<div class="col-lg-4 box-dark color1 ">
				<div class="services-box-3 d-flex">
					<i class="icon-picons-configuration mt-5"></i>
					<div class="content">
						<h3>
							<div class="meta">
								Des travaux de rénovation garantis
								<em class="small"></em>
							</div>
						</h3>
						<p>Tous nos travaux sont garantis en responsabilité civile et
							décennale par notre assurance professionnelle Entreprise de
							Construction PRO FIRST sous le n° 037 0010701-D1000461.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 box-dark color1 ">
				<div class="services-box-3 d-flex">
					<i class="icon-picons-ruler mt-5"></i>
					<div class="content">
						<h3>
							<div class="meta">
								Confier votre rénovation à LESROISDELARENO c’est la garantie :
								<em class="small"></em>
							</div>
						</h3>
						<p>
							- D’une rénovation réussie <br />
							- D’un budget maîtrisé <br />
							- D’un suivi de chantier rigoureux <br />
							- Du respect des délais <br />
							- D’aucune somme versée avant de démarrage des travaux <br />
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 box-dark color1 ">
				<div class="services-box-3 d-flex">
					<i class="icon-picons-pencil-ruler mt-5"></i>
					<div class="content">
						<h3>
							<div class="meta">
								NOTRE ACCOMPAGNEMENT
								<em class="small"></em>
							</div>
						</h3>
						<p>De l’élaboration à l’accomplissement de vos projets, nos
							professionnels vous accompagnent et restent à votre disposition
							pour étudier, conseiller et réaliser tous vos projets.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>