<section id="block-gaterblocktaglinesection" class="bg-dark-gray">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 t-pad40 b-pad30">
				<h1 class="color-white text-center">
					 QUE VOULEZ VOUS FAIRE  ?
				</h1>
			</div>
		</div>
	</div>
</section>