<section class="views-element-container"
	id="block-views-block-gater-block-content-block-client-testimonials">
	<div>
		<div class="container pad-container">
			<div class="col-md-6">
				<div class="row">
					<h3 class="heading">Our Clients</h3>
					<div class="clients">
						<ul>
							<li class="item"><img
								src="/sites/default/files/2016-10/logo-08.png" width="165"
								height="100" alt="Image title" typeof="foaf:Image" /></li>
							<li class="item"><img
								src="/sites/default/files/2016-10/logo-02.png" width="165"
								height="100" alt="Image title" typeof="foaf:Image" /></li>
							<li class="item"><img
								src="/sites/default/files/2016-10/logo-03.png" width="165"
								height="100" alt="Image title" typeof="foaf:Image" /></li>
							<li class="item"><img
								src="/sites/default/files/2016-10/logo-04.png" width="165"
								height="100" alt="Image title" typeof="foaf:Image" /></li>
							<li class="item"><img
								src="/sites/default/files/2016-10/logo-05.png" width="165"
								height="100" alt="Image title" typeof="foaf:Image" /></li>
							<li class="item"><img
								src="/sites/default/files/2016-10/logo-06.png" width="165"
								height="100" alt="Image title" typeof="foaf:Image" /></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row">
					<h3 class="heading">What People Says</h3>
					<div class="owl-testimonials owl-carousel t-pad20">
						<div class="item">
							<div class="testimonials">
								<div class="testimonials-content1">
									<p>Morbi id nibh rhoncus, pulvinar purus et, finibus
										turpis. Vestibulum ut pellentesque risus.</p>
								</div>
								<div class="testimonials-author">
									<img src="/sites/default/files/2016-10/team1_0.jpg" width="400"
										height="400" alt="Image title" typeof="Image" />
									<p class="colored">Roselyne - CEO</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimonials">
								<div class="testimonials-content1">
									<p>Maecenas metus quam, elementum dignissim volutpat at,
										rutrum ac elit. Suspendisse potenti. </p>
								</div>
								<div class="testimonials-author">
									<img src="/sites/default/files/2016-10/team2_0.jpg" width="400"
										height="400" alt="Image title" typeof="Image" />
									<p class="colored">Philip James - CEO</p>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimonials">
								<div class="testimonials-content1">
									<p>Maecenas metus quam, elementum dignissim volutpat at,
										rutrum ac elit. Suspendisse potenti. </p>
								</div>
								<div class="testimonials-author">
									<img src="/sites/default/files/2016-10/happy-clients-03.jpg"
										width="80" height="80" alt="Image title" typeof="Image" />
									<p class="colored">Roselyne - CEO</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>