<div class="bg-darker-gray">
	<div class="container ">
		<div class="row">
			<div class="col-md-8">
				<p class="gray">
					© 2021 LESROISDELARENO.COM. All rights reserved,
				</p>
			</div>
			<div class="col-md-4">
				<p class="pl-3">
					provided by
					<a href="#">
						Wb-Universe
					</a>
				</p>
			</div>
		</div>
	</div>
</div>
