<footer class="footer">
     <div class="container pad-container">
          <div class="row">
               <div class="col-sm-4 ">
                    <div id="block-gaterblockaboutgater" class="widget r-pad50">
                         <h4>LESROISDELARENO.COM</h4>
                         <p>Les artisans de LESROISDELARENO.COM se déplacent dans toute
                              l'ILE DE FRANCE.</p>
                         <div class="clearfix"></div>
                         <h4>Suivez nous sur :</h4>
                         <div class="social-icons">
                              <ul>
                                   <li><a href="#" class="twitter-alt" title=""
                                          data-rel="tooltip" data-placement="top" rel="tooltip"
                                          data-original-title="Twitter"><i class="icon-twitter"></i></a></li>
                                   <li><a href="#" class="facebook-alt" title=""
                                          data-rel="tooltip" data-placement="top" rel="tooltip"
                                          data-original-title="Facebook"><i class="icon-facebook"></i></a>
                                   </li>
                                   <li><a href="https://www.instagram.com/lesroisdelareno.fr/" class="google-alt" title=""
                                          data-rel="tooltip" data-placement="top" rel="tooltip"
                                          data-original-title="Instagram"><i class="icon-instagram"></i></a>
                                   </li>
                                   <li><a href="#" class="linkedin-alt" title=""
                                          data-rel="tooltip" data-placement="top" rel="tooltip"
                                          data-original-title="Linkedin"><i class="icon-linkedin"></i></a>
                                   </li>
                              </ul>
                         </div>
                    </div>
               </div>
               <div class="col-sm-4">
                    <div class="views-element-container widget"
                         id="block-views-block-gater-block-taxonomy-terms-block-useful-links">
                         <h4>Liens utiles</h4>
                         <div>
                              <div >
                                   <div>
                                        <ul class="circled">
                                             <li class="useful-links ">
                                                  <a href="/node/15" hreflang="en">CGU</a>
                                             </li>
                                             <li class="useful-links  ">
                                                  <a href="#" hreflang="en">Estimez votre devis</a>
                                             </li>
                                             <li class="useful-links  ">
                                                  <a href="#" hreflang="en">Ecrivez nous</a>
                                             </li>
                                             <li class="useful-links  ">
                                                  <a href="#" hreflang="en">Blog</a>
                                             </li>
                                        </ul>
                                        {{ menu_footer }}
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
               <div class="col-sm-4 ">
                    <div id="block-gaterblockcontactinfo" class="widget">
                         <h4>Contact </h4>
                         <div class="contact">
                              <i class="icon-picons-pin-2"></i>
                              <div class="content">
                                   <p class="bold  t-pad30">
                                        Dans toute l'ILE DE FRANCE.
                                   </p>
                                   <p class="bold  t-pad30">
                                        N° SIREN : 893871210
                                   </p>
                              </div>
                         </div>
                         <div class="contact">
                              <i class="icon-picons-telephone-call"></i>
                              <div class="content">
                                   <p class="bold  t-pad30">07 68 97 42 98</p>
                                   <p class="bold ">
                                        <a href="#"><span class="__cf_email__"
                                                          data-cfemail="284b47465c494b5c6851475d5a4c4745494146064b4745">lesroisdelareno@yahoo.com</span></a>
                                   </p>
                              </div>
                         </div>
                         <div class="clearfix"></div>
                         <div class="timing t-mgr30">
                              <p class="bold">Lundi - vendredi : ------------------- 9:00 - 18:00</p>
                              <p class="bold">Samedi/Dimanche : -------------------- fermé </p>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</footer>