<div class="bg-darker-gray">
	<div class="container t-pad20 b-pad10">
		<div class="col-md-8 t-pad10">
			<p class="gray"> © 2021 LESROISDELARENO.COM. All rights reserved, </p>
		</div>
		<div class="col-md-4 t-pad10">
		<p class="pl-3">provided by <a href="#">wb-universe</a></p>
		</div>
		
{#
			<div class="col-md-6 text-right d-none">
			<nav role="navigation" aria-labelledby="block-footermenu-menu"
				id="block-footermenu" class="footer-links">
				<h2 class="visually-hidden">Footer menu</h2>
				<ul>
					<li><a href="index.html"
						data-drupal-link-system-path="&lt;front&gt;" class="is-active">About</a>
					</li>
					<li><a href="index.html"
						data-drupal-link-system-path="&lt;front&gt;" class="is-active">Shortcodes</a>
					</li>
					<li><a href="index.html"
						data-drupal-link-system-path="&lt;front&gt;" class="is-active">Contact</a>
					</li>
					<li><a href="index.html"
						data-drupal-link-system-path="&lt;front&gt;" class="is-active">Terms</a>
					</li>
					<li><a href="index.html"
						data-drupal-link-system-path="&lt;front&gt;" class="is-active">Privacy
							Policy</a></li>
				</ul>
			</nav>
		</div>
#}
	</div>
</div>