<section id="header-search-panel">
	<div class="search">
		<div class="search-block-form"
			data-drupal-selector="search-block-form" id="block-searchform-2"
			role="search">
			<a class="close-search" href="index.html#"><i class="ss-delete"></i></a>
			<form action="http://gates.drupalet.com/search/node" method="get"
				id="search-block-form" accept-charset="UTF-8">
				<div
					class="js-form-item form-item js-form-type-search form-item-keys js-form-item-keys form-no-label">
					<label for="edit-keys" class="visually-hidden">Search</label> <input
						title="Enter the terms you wish to search for."
						placeholder="Search..." data-drupal-selector="edit-keys"
						type="search" id="edit-keys" name="keys" value="" size="15"
						maxlength="128" class="form-search" />
				</div>
				<div data-drupal-selector="edit-actions"
					class="form-actions js-form-wrapper form-wrapper" id="edit-actions">
					<input data-drupal-selector="edit-submit" type="submit"
						id="edit-submit" value=""
						class="button js-form-submit form-submit btn color-btn" />
				</div>
			</form>
		</div>
		<h6>&nbsp;</h6>
	</div>
</section>