<div class="container header-nav">
	<div class="row">
		<div class="col-lg-6 col-xs-12 content-logo d-flex d-lg-block flex-column flex-sm-row align-items-sm-center align-items-left mb-4 mb-sm-0">
			<div class="basic-wrapper">
				<a class="mobile-menu" data-toggle="collapse"
					data-target=".navbar-collapse"><i class='icon-menu'></i></a> <a
					href="/" title="Home" rel="home" class="logo"> <img
					src="/themes/custom/gater/logo.png?v=1" alt="Home" />
				</a>				
			</div>
			<div>
				<div class="pl-3 site-name">LESROISDELARENO.COM</div>
				<div class="site-slogant"> Un devis travaux en ligne dès que vous en avez besoin... </div>
			</div>
		</div>
		<div class="col-lg-6 col-xs-12 content-info">
			<div>
				<ul class="top-contact d-flex flex-wrap flex-lg-nowrap p-0">
					<li class="d-lg-none d-xl-block">
						<div class="icon">
							<i class="icon-phone-1"></i>
							<div class="content">
								<h3>07 68 97 42 98</h3>
								<p>
									<a href="cdn-cgi/l/email-protection.html" class="__cf_email__"
										data-cfemail="7f1c10110b1e1c0b3f1b10121e1611511c1012">
										lesroisdelareno@yahoo.com </a>
								</p>
							</div>
						</div>
					</li>
					<li class="">
						<div class="icon">
							<i class="icon-edit"></i>
							<div class="content">
								<a href="/form/renovation" class="is-active btn btn-lg btn-outline-force"> Estimer mes travaux </a>
							</div>
						</div>
					</li>
					<li class="d-none">
						<div class="icon">
							<i class="icon-clock-1"></i>
							<div class="content">
								<h3>Lun - Vend 9:00 - 18:00</h3>
								<p>Sam - Dim fermé</p>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>