<div class="container header-nav">
	<div class="row">
		<div class="col-lg-5 d-flex align-items-center">


			<div class="basic-wrapper">
				<a class="mobile-menu" data-toggle="collapse" data-target=".navbar-collapse">
					<i class='icon-menu'></i>
				</a>
				<a href="/" title="Home" rel="home" class="logo">
					<img src="/themes/custom/gater/logo.png?v=1" alt="Home"/>
				</a>
			</div>
			<div>
				<div class="site-name">LESROISDELARENO.COM</div>
				<div class="site-slogant">
					Un devis travaux en ligne dès que vous en avez besoin...
				</div>
			</div>
		</div>
		<div class="col-lg-7 col-xs-12 content-info justify-content-end d-flex">

			<div class="d-flex flex-wrap">

				<div class="icon d-xl-flex align-items-center d-lg-none">


					<i class="icon-phone-1"></i>
					<div class="content">
						<span class="phone">07 68 97 42 98</span>
						<div>
							<a href="cdn-cgi/l/email-protection.html" class="__cf_email__" data-cfemail="7f1c10110b1e1c0b3f1b10121e1611511c1012">
								lesroisdelareno@yahoo.com
							</a>
						</div>
					</div>
				</div>

				<div class="icon  d-flex align-items-center">

					<i class="icon-edit"></i>
					<div class="content">
						<a href="/form/renovation" class="is-active btn btn-lg btn-outline-force">
							Estimer mes travaux
						</a>
					</div>
				</div>


			</div>
		</div>
	</div>
</div>
