<section class="container-menu">
	<div class="container">
		<div class="collapse navbar-collapse right bg-dark">
			<div role="navigation" aria-labelledby="block-gater-main-menu-menu"
				id="block-gater-main-menu">
				<h2 class="visually-hidden">Main navigation</h2>
				{{ site_main_menu }}
			</div>
		</div>
	</div>
</section>