<div
	class="simplenews-subscriptions-block-c201a97d-6921-4c8e-aab8-7a1a3e0a623b simplenews-subscriber-form bot-subscribe"
	data-drupal-selector="simplenews-subscriptions-block-c201a97d-6921-4c8e-aab8-7a1a3e0a623b"
	id="block-simplenewssubscription">
	<div class="container section_simplenews">
		<div class="row">
			<div class="col-md-8">
				<p>Have Any Questions</p>
				<h3 class="color-white">Don&#039;t Hesitate to contact us and
					get the solution</h3>
			</div>
			<div class="col-md-4">
				<form action="index.html" method="post"
					id="simplenews-subscriptions-block-c201a97d-6921-4c8e-aab8-7a1a3e0a623b"
					accept-charset="UTF-8">
					<div
						class="field--type-simplenews-subscription field--name-subscriptions field--widget-simplenews-subscription-select js-form-wrapper form-wrapper"
						data-drupal-selector="edit-subscriptions-wrapper"
						id="edit-subscriptions-wrapper"></div>
					<div id="edit-message"
						class="js-form-item form-item js-form-type-item form-item-message js-form-item-message form-no-label">
					</div>
					<input
						data-drupal-selector="form-73rffjdkdfqrllv2fhx8fh9r8v6qvxtwr6t3etd9w8w"
						type="hidden" name="form_build_id"
						value="form-73rffjDkdfqrLLv2FHx8fH9r8V6qVXTWr6t3Etd9W8w" /> <input
						data-drupal-selector="edit-simplenews-subscriptions-block-c201a97d-6921-4c8e-aab8-7a1a3e0a623b"
						type="hidden" name="form_id"
						value="simplenews_subscriptions_block_c201a97d-6921-4c8e-aab8-7a1a3e0a623b" />
					<div
						class="field--type-email field--name-mail field--widget-email-default js-form-wrapper form-wrapper"
						data-drupal-selector="edit-mail-wrapper" id="edit-mail-wrapper">
						<div
							class="js-form-item form-item js-form-type-email form-item-mail-0-value js-form-item-mail-0-value">
							<label for="edit-mail-0-value"
								class="js-form-required form-required">Email</label> <input
								data-drupal-selector="edit-mail-0-value"
								aria-describedby="edit-mail-0-value--description" type="email"
								id="edit-mail-0-value" name="mail[0][value]" value="" size="60"
								maxlength="254" placeholder="" class="form-email required"
								required="required" aria-required="true" />
							<div id="edit-mail-0-value--description" class="description">
								The subscriber's email address.</div>
						</div>
					</div>
					<div data-drupal-selector="edit-actions"
						class="form-actions js-form-wrapper form-wrapper"
						id="edit-actions--2">
						<input data-drupal-selector="edit-subscribe" type="submit"
							id="edit-subscribe" name="op" value="Subscribe"
							class="button js-form-submit form-submit btn color-btn" />
					</div>
				</form>
			</div>
		</div>
	</div>
</div>