<section class="ftco-section" id="about-section">
	<div class="container">
		<div class="row">
			<div class="col-md-6 d-flex align-items-stretch">
				<div class="about-wrap img w-100"
					style="background-image: url('/themes/custom/theme_reference_wbu/images/about.jpg');">
					<div class="icon d-flex align-items-center justify-content-center">
						<span class="flaticon-crane"></span>
					</div>
				</div>
			</div>
			<div class="col-md-6 py-5 pl-md-5">
				<div class="row justify-content-center mb-4 pt-md-4">
					<div
						class="col-md-12 heading-section ftco-animate fadeInUp ftco-animated">
						<span class="subheading"> Welcome to Wilcon </span>
						<h2 class="mb-4"> Wilcon A Construction Company </h2>
						<div class="d-flex about">
							<div class="icon">
								<span class="flaticon-hammer"></span>
							</div>
							<h3>We're in this business since 1975 and We provide the
								best insdustrial services</h3>
						</div>
						<p> Far far away, behind the word mountains, far from the
							countries Vokalia and Consonantia, there live the blind texts.
							Separated they live in Bookmarksgrove right at the coast of the
							Semantics, a large language ocean. </p>
						<div class="d-flex video-image align-items-center mt-md-4">
							<a href="#"
								class="video img d-flex align-items-center justify-content-center"
								style="background-image: url('/themes/custom/theme_reference_wbu/images/about-2.jpg');"> <span
								class="fa fa-play-circle"></span>
							</a>
							<h4 class="ml-4"> This is how we work on our clients, Watch video </h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>