<section class="hero-wrap js-fullheight"
	style="background-image: url('/themes/custom/builderstheme/images/bg_1.jpg'); height: 952px; background-position: 0% -38px;"
	data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div
			class="row no-gutters slider-text js-fullheight align-items-center"
			data-scrollax-parent="true" style="height: 952px;">
			<div class="col-lg-6 ftco-animate fadeInUp ftco-animated">
				<div class="mt-5">
					<h1 class="mb-4">
						We Build <br>Great Projects
					</h1>
					<p class="mb-4"> Far far away, behind the word mountains, far
						from the countries Vokalia and Consonantia, there live the blind
						texts. Separated they live in Bookmarksgrove. </p>
					<p>
						<a href="index.html#" class="btn btn-primary"> Our Services </a> <a
							href="index.html#" class="btn btn-white" data-toggle="modal"
							data-target="#exampleModalCenter">Request A Quote</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>