<section class="ftco-section bg-light">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-3">
			<div
				class="col-md-10 heading-section text-center ftco-animate fadeInUp ftco-animated">
				<span class="subheading">Our Blog</span>
				<h2 class="mb-4">Latest Blog Updates</h2>
			</div>
		</div>
		<div class="row d-flex">
			<div class="col-lg-4 ftco-animate fadeInUp ftco-animated">
				<div class="blog-entry">
					<a href="blog-single.html" class="block-20"
						style="background-image: url('/themes/custom/builderstheme/images/image_1.jpg');"> </a>
					<div class="text d-block">
						<div class="meta">
							<p>
								<a href="index.html#"><span class="fa fa-calendar mr-2"></span>Sept.
									06, 2020</a> <a href="index.html#"><span
									class="fa fa-user mr-2"></span>Admin</a> <a href="index.html#"
									class="meta-chat"><span class="fa fa-comment mr-2"></span>
									3</a>
							</p>
						</div>
						<h3 class="heading">
							<a href="index.html#">Best for any industrial &amp; business
								solution</a>
						</h3>
						<p>
							<a href="blog.html" class="btn btn-secondary py-2 px-3">Read
								more</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 ftco-animate fadeInUp ftco-animated">
				<div class="blog-entry">
					<a href="blog-single.html" class="block-20"
						style="background-image: url('/themes/custom/builderstheme/images/image_2.jpg');"> </a>
					<div class="text d-block">
						<div class="meta">
							<p>
								<a href="index.html#"><span class="fa fa-calendar mr-2"></span>Sept.
									06, 2020</a> <a href="index.html#"><span
									class="fa fa-user mr-2"></span>Admin</a> <a href="index.html#"
									class="meta-chat"><span class="fa fa-comment mr-2"></span>
									3</a>
							</p>
						</div>
						<h3 class="heading">
							<a href="index.html#">Best for any industrial &amp; business
								solution</a>
						</h3>
						<p>
							<a href="blog.html" class="btn btn-secondary py-2 px-3">Read
								more</a>
						</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 ftco-animate fadeInUp ftco-animated">
				<div class="blog-entry">
					<a href="blog-single.html" class="block-20"
						style="background-image: url('/themes/custom/builderstheme/images/image_3.jpg');"> </a>
					<div class="text d-block">
						<div class="meta">
							<p>
								<a href="index.html#"><span class="fa fa-calendar mr-2"></span>Sept.
									06, 2020</a> <a href="index.html#"><span
									class="fa fa-user mr-2"></span>Admin</a> <a href="index.html#"
									class="meta-chat"><span class="fa fa-comment mr-2"></span>
									3</a>
							</p>
						</div>
						<h3 class="heading">
							<a href="index.html#">Best for any industrial &amp; business
								solution</a>
						</h3>
						<p>
							<a href="blog.html" class="btn btn-secondary py-2 px-3">Read
								more</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>