<section id="block-gaterblockparallax" class="parallax home">
	<div class="container pad-container-parallax">
		<div class="row col-md-8">
			<h2 class=""> Contactez nous </h2>
			<h1>
				Enfin, vos travaux de rénovation simples et sans surprise !
			</h1>
			<a class="btn btn-white-brd" href="#block-gaterblocktaglinesection" target="_self"> ESTIMER MES TRAVAUX </a>
		</div>
	</div>
</section>