<section class="ftco-section bg-half-light">
	<div class="container">
		<div class="row justify-content-center mb-5 pb-2">
			<div
				class="col-md-8 text-center heading-section ftco-animate fadeInUp ftco-animated">
				<span class="subheading">Our Services</span>
				<h2 class="mb-4">We Offer Services</h2>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<div class="services-wrap ftco-animate fadeInUp ftco-animated">
					<div class="img"
						style="background-image: url(/themes/custom/builderstheme/images/services-1.jpg);"></div>
					<div class="text">
						<div class="icon">
							<span class="flaticon-architect"></span>
						</div>
						<h2>Architecture</h2>
						<p>Far far away, behind the word mountains, far from the
							countries Vokalia and Consonantia</p>
						<a href="index.html#" class="btn-custom">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="services-wrap ftco-animate fadeInUp ftco-animated">
					<div class="img"
						style="background-image: url(/themes/custom/builderstheme/images/services-2.jpg);"></div>
					<div class="text">
						<div class="icon">
							<span class="flaticon-worker"></span>
						</div>
						<h2>Renovation</h2>
						<p>Far far away, behind the word mountains, far from the
							countries Vokalia and Consonantia</p>
						<a href="index.html#" class="btn-custom">Read more</a>
					</div>
				</div>
			</div>
			<div class="col-md-4">
				<div class="services-wrap ftco-animate fadeInUp ftco-animated">
					<div class="img"
						style="background-image: url(/themes/custom/builderstheme/images/services-3.jpg);"></div>
					<div class="text">
						<div class="icon">
							<span class="flaticon-hammer"></span>
						</div>
						<h2>Construction</h2>
						<p>Far far away, behind the word mountains, far from the
							countries Vokalia and Consonantia</p>
						<a href="index.html#" class="btn-custom">Read more</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>