{% if content %}
<div
	{{ attributes.addClass(['wbu-entreprise-top-header','py-1','top']) }}>
	<div class="container">
		<div class="row">
			
			<div
				class="col-sm col-md-4 text-center text-md-left mb-md-0 mb-2 pr-md-4 d-flex topper align-items-center">
				<p class="mb-0 w-100">
					<span class="fa fa-paper-plane"></span> 
					<span class="text">
					 <a href="#" class="__cf_email__" > mon-email@emploi.com </a>
					</span>
				</p>
			</div>

			<div class="col-sm justify-content-center d-flex mb-md-0 mb-2">
				<div class="social-media">
					<p class="mb-0 d-flex">
						<a href="index.html#"
							class="d-flex align-items-center justify-content-center"><span
							class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a> <a
							href="index.html#"
							class="d-flex align-items-center justify-content-center"><span
							class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a> <a
							href="index.html#"
							class="d-flex align-items-center justify-content-center"><span
							class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a> <a
							href="index.html#"
							class="d-flex align-items-center justify-content-center"><span
							class="fa fa-dribbble"><i class="sr-only">Dribbble</i></span></a>
					</p>
				</div>
			</div>
			
			<div
				class="col-sm-12 col-md-5 col-lg-5 d-flex topper align-items-center text-lg-right justify-content-end">
				<p class="mb-0 register-link">
					<a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"> Inquire Now </a>
				</p>
			</div>
			
		</div>
	</div>
</div>
{% endif %}